Source: gtk3dialog
Section: misc
Priority: optional
Maintainer: Mick Amadio <01micko@gmx.com>
Build-Depends: debhelper-compat (= 13), bison, flex, libgtk-3-dev, libglib2.0-dev, libvte-2.91-dev, libgtk-layer-shell-dev, meson (>=1.0), ninja-build (>=1.10)
Standards-Version: 4.6.2
Homepage: https://github.com/01micko/gtk3dialog
Rules-Requires-Root: no
Vcs-Git: https://github.com/01micko/gtk3dialog.git
Vcs-Browser: https://github.com/01micko/gtk3dialog

Package: gtk3dialog
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, libgtk-3-0t64, libglib2.0-0t64, libvte-2.91-0, libgtk-layer-shell0, bash (>=4.0)
Description: graphical gui building application for x11 or wayland.
 Gtk3dialog can make display graphical GTK+ dialog boxes from the
 command line or from shell scripts.
 

Package: gtk3dialog-doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: graphical gui building application docs for x11 or wayland.
 Gtk3dialog can make display graphical GTK+ dialog boxes from the
 command line or from shell scripts.

